body{
    background-color: black;
    color: beige;
}
/* h1{
    color: aqua;
}
.backimg{
    background-image: url(ezgif-sixteen_nine_214.jpg);
    background-size: cover;
    color: aliceblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
}
table{
    font-size:5em;
    width: 100%; 
}
ol{
    font-size: 3em;
    color: rgb(130, 84, 204);
  
}
/* ul{
    font-size: 3em;
    color: rgb(130, 84, 204);
    list-style: armenian;
} */
/* dl{
    color: blueviolet;
    font-size: 3em;
    text-align: center;
    background-color: rgb(188, 147, 226);
    border-radius: 6px solid black;
} */
/* div{
    margin: auto;
    width: 300px;
    background-color: tomato;
} */
/* div{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    color: rgb(167, 147, 147);
} */
/* .photo{
    max-width: 800px;
}
.photo{
    min-width: 400px;
} */

/* s */

/* .img1 {
max-width:100%;
height:auto;
}
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }
  details > summary {
    padding: 4px;
    width: 200px;
    background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
  }
  
  details > p {
    background-color: #eeeeee;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
  }
  summary{
    display: block;
  }
@media screen and(max-width:800px) {
    div{
        width: 100%;
    }
} */ 
p{
    color: blue;
}
a:link{
    color: aqua;
    text-decoration: none;
}
a:hover{
    color: blueviolet;
    text-decoration:line-through;
}
a:visited{
    color: rgb(255, 0, 0);
    text-decoration: overline;
}